doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700|Sigmar+One|Arvo')
    link(rel='stylesheet', href='/css/style.css')
  body
    .clearfix
      a(href="#").fa.fa-bars.sidemenu-btn
      #logo
        a(href="/") <b>Bro</b>mberMan<i>!</i>
    #sidemenu
      nav
        ul
          li.home
            a(href='home') Home
          li.game
            a(href='game') Game
          li.settings
            a(href='settings') Settings
          li.map-editor
            a(href='map-editor') Map Editor
          li.manual
            a(href='manual') Manual
            
    #bottom-bar
      #current-unit-stats.clearfix
        #bombs
          span
    section#home
      .container
        h1 Home
    section#game
      aside
      #map-display.clearfix
    section#settings
      .container
        h1 Settings
        ul
          li Grid
            a(href='#').off.grid
              i
          li Some
            a(href='#').off
              i
        .stand.clearfix
          .map-tile
          .map-tile
          .map-tile
          .map-tile
          .map-tile
          .map-tile
            .wall
          .map-tile
          .map-tile
          .map-tile
          .map-tile
          .map-tile
          .map-tile
            .player
          .map-tile
          .map-tile
          .map-tile
          .map-tile
    section#map-editor
      .container
        h1 Map Editor
    section#manual
      .container
        h1 Manual

    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/js/main-dist.js')
    footer
      span Sentyurin &copy; 2016
